{% load static %}
{% load l10n %}


<div class="mb-4 bg-body-tertiary border-bottom rounded-3" id="anchor-about">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">О нас</h1>
        <p class="col-md-8 fs-4">Мы поможем вам приобрести все самое необходимое для организации и оптимизации
            вашего бизнеса, начиная от торгового оборудования и заканчивая нашими услугами в области разработки
            оригинальных модулей 1С и создания продающего интернет-магазина для вашей компании.</p>
    </div>
</div>