{% load static %}
{% load l10n %}

<div class="content" id="anchor-contacts">

    <div class="container">
        <div class="row">
            <div class="col-md-5 mr-auto">
                <h2>Контакты</h2>
                <p class="mb-5"></p>

                <ul class="list-unstyled pl-md-5 mb-5">
                    <li class="d-flex col-md-5 mb-2">
                        <span class="mr-3"><span class="icon-map">Адрес: </span><br>ул. Захарова, д. 1А, оф. 1</span>
                    </li>
                    <li class="d-flex col-md-5 mb-2">
                        <span class="mr-3"><span class="icon-phone">Телефон: </span><br><a href="tel:+78412301636">+7
                                (8412) 30-16-36</a></span>
                    </li>
                    <li class="d-flex col-md-5">
                        <span class="mr-3"><span class="icon-envelope-o">Электронная почта:</span><br><a
                                href="mailto:info@1-profit.ru">info@1-profit.ru</a></span>
                    </li>
                </ul>

            </div>
            <div class="col-md-6">
                <div id="map" style="width: 100%; height: 300px;"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://api-maps.yandex.ru/2.1/?apikey=55f528ad-d523-4198-b0c9-7f6a83fce17e
&lang=ru_RU" type="text/javascript"></script>

<script>
    ymaps.ready(init);

    function init() {
        var myMap = new ymaps.Map("map", {
            center: [53.194637, 45.00158], // Замените координатами на нужные вам
            zoom: 10,
        });

        var myPlacemark = new ymaps.Placemark(
            [53.194637, 45.00158], // Замените координатами на нужные вам
            {
                hintContent: "Пенза, улица Захарова, 1А",
                balloonContent: "Prof-It",
            }
        );

        myMap.geoObjects.add(myPlacemark);
    }
</script>