{% load static %}
{% load l10n %} 

{% block change_theme %}
    {% include 'change_theme.html' %}
{% endblock %}

<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg width="110" height="40"><image xlink:href="{% static 'img/logotip_mid.png' %}"/></svg>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav ml-auto mb-2 mb-md-0">
            <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
            <li class="nav-item"><a href="#anchor-price" class="nav-link">Прайс-лист</a></li>
            <li class="nav-item"><a href="#anchor-contacts" class="nav-link">Контакты</a></li>
            <li class="nav-item"><a href="#anchor-about" class="nav-link">О нас</a></li>
        </ul>
    </div>
    </div>
  </nav>
</header>

<script>
  $(document).ready(function() {
    // Ваш код для удаления хеш-фрагмента при клике на якорную ссылку
    $('a').on('click', function(e) {
    var href = this.getAttribute('href');
    var myHref = href.split('#');
    if (myHref[0] === "/" || myHref[0] === "") {
      // Если ссылка ведет на "/", то перезагружаем страницу
      return true;
    }
    e.preventDefault();
  });
    
    // Добавляем обработку якорных ссылок для плавного скролла
    $('a.nav-link').on('click', function(e) {
      var href = this.getAttribute('href');
      var target = $(href);
      if (target.length) {
        e.preventDefault();
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000); // Задайте желаемую продолжительность анимации
      }
    });
  });
  </script>
  

<script>
  // Получаем ссылку на кнопку гамбургера
  var navbarToggler = document.querySelector(".navbar-toggler");

  // Получаем все ссылки меню
  var menuLinks = document.querySelectorAll(".navbar-nav .nav-link");

  // Добавляем обработчик события для каждой ссылки меню
  menuLinks.forEach(function(link) {
      link.addEventListener("click", function() {
          // Закрываем меню (сворачиваем его)
          var navbarCollapse = document.querySelector("#navbarCollapse");
          var bsCollapse = new bootstrap.Collapse(navbarCollapse);
          bsCollapse.toggle();

          // Возвращаем кнопку гамбургера в изначальное положение
          navbarToggler.setAttribute("aria-expanded", "false");
          navbarToggler.classList.add("collapsed");
      });
  });
</script>







