{% extends 'base.html' %} 
{% load static %}
{% load l10n %} 
{% block title %}Главная страница{% endblock %} 
{% block content %}

{% block carousel %}
    {% include 'carousel.html' %}
{% endblock %}

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Заголовок 1</th>
            <th>Заголовок 1</th>
            <th>Заголовок 2</th>
            <!-- Добавьте другие заголовки столбцов по мере необходимости -->
        </tr>
    </thead>
    <tbody>
        {% for row in data_from_sheets %}
            {% if row.0 and row.1 and row.2 %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <!-- Добавьте другие столбцы данных по мере необходимости -->
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>


{% if data_from_sheets|length > 5 %}
    <div class="pagination">
        <span class="step-links">
            {% if data_from_sheets.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ data_from_sheets.previous_page_number }}">previous</a>
            {% endif %}
            
            <span class="current-page">{{ data_from_sheets.number }}</span>
            
            {% if data_from_sheets.has_next %}
                <a href="?page={{ data_from_sheets.next_page_number }}">next</a>
                <a href="?page={{ data_from_sheets.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}


{% endblock %}